
.menu-icon{
  margin-right: 10px;
}
.title{
  margin-right: 10px;
  font-size: 40px; /* Adjust the font size as needed */
  transform: skewX(-15deg);

}

.search-field {
  width: 310%; /* Adjust as needed */
}

.language-field .en {
  font-size: 6px; /* Adjust the font size as needed */
}

.language-field .sp {
  font-size: 6px; /* Adjust the font size as needed */
}

.language-field {
  width: 250px; /* Adjust as needed */
  height: 30px;
}

.sign-in {
  width: 155px; /* Adjust as needed */

}
.pop{
  text-align: center;
    border-radius: 10px;
    background-color: #fddb3a;
    color: black;
    font-size: 10px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    width:140px;
}
.pop-overdiv{
  padding: 20px;
}

.cart-field {
  width: 92px; /* Adjust as needed */
}

.returnsorders{
  width:15px;
}



.border-hover:hover .MuiOutlinedInput-notchedOutline {
  border-color: blue  !important;
}
.new-customer{
  font-size: 9px;
}
.new-customer a {
  color: blue;
  /* Add other styles as needed */
}

.popover-signin{
  color: black;
  background-color: yellow;
}

.vertical-line {
  border-left: 1px solid black;
  height: 100px;
}

.container2{
  display: flex;
  flex-direction: column;
  gap:15px;
}

.flexx{
  display:flex;
  gap: 50px;
    flex-direction: column;
}



.hr{
  width:500px;
}

.vertical-line{
  width:100px;
}


.container3 * {
  font-size: .97rem; /* Increase the font size by 2 for all elements */
}

.navbar {
  display: flex;
  align-items: center;
  background-color: #003366;
  height: 30px;
  width: 100%;
  padding: 5px 20px;
  margin-bottom: 10px;
}

.track{
  color: white;
  text-decoration: none;
  margin-left: 1100px;
}

/* ------------------------------------------ */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.locationdiv {
  display: flex;
  align-items: center;
  text-decoration: none;
  border: 1px solid black;
  padding: 5px;
  margin: 10px;
}

.navbarContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.navbar2 {
  text-decoration: none;
  border: 1px solid white;
  border-radius: 50px;
  color: white;
  background-color: lightblue;
  padding: 5px 10px;
}
/* ------------------ */


/* ------------ */

.locationdiv a {
  text-decoration: none;

}

.hello {
  margin-left: 32px;
  text-decoration: none;
  color: black;

}

.locationdiv a svg {
  
}
.flex{
  display: flex;
}




/*this is advanced*/ 

.advanced-input {
  display: flex;
  position: relative;
  align-items: center;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 15px;
  width: 85%;
  height: 80px;
  margin: auto;
  justify-content: flex-start; /* Add this to position items at the start */
  background-color: #005599
}

/* advanced-search.css */

.advanced-search-popover {
  width: 200px; /* Adjust the width to make the popover larger */
  max-height: 900px; /* Adjust the maxHeight to allow more content to be visible */
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Adjust the opacity to control the dimming effect */
  z-index: 999; /* Ensure the overlay appears above other elements */
}

.input-image {
  height: 100%;
  border-radius: 100px;

}
.input-text{
  margin-left: 10px;
  margin-right: 25px;
  color: white;
}
.pop-overs {
  display:flex;
  margin-right: 5px;
  justify-content: space-between;
  align-items: center;
  border: 1px solid lightgray;
  width:164px;
  height: 68px;
  border-radius: 15px;
  background-color: white;
}

.year{
  font-size: 13px
}
.go-button {
  position: absolute;
  right: 20px;
  padding: 10px 20px;
  background-color: yellow;
  color: blue;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  width:140px;
  
}

.menu{
  width: min(100px, 100px);
}

/*end of advanced */